.abutton {
    /* padding: 10px 20px; */
    background: hsl(0, 43%, 55%);
    box-shadow: none;
    border: none;
    outline: none;
    color: white;
    /* border-radius: 1rem; */
    cursor: pointer;
    position: relative;
}

.abutton:hover {
    background: hsl(0, 36%, 45%);
}

.abutton::after {
    content: " =>";
}

.abutton::before {
    content: " ";
    background-color: rgb(32, 30, 151);
    position: absolute;
    top: 100%;
    width: 15%;
    height: 100%;
    left: 0;
    /* border-radius: 50%; */
    transform: rotateZ(45deg)
        /* 
pseudo class */